<app-header></app-header>

<div class="wrapper">

    <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
        <div class="container-fluid">
            <div class="row g-3 mb-1 align-items-center">
                <div class="col">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a class="text-secondary" href="/">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a class="text-secondary" href="crafted-page.html">Crafted pages</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body border-bottom">
                            <div class="d-flex align-items-md-start align-items-center flex-column flex-md-row">
                                <img src="../assets/img/profile_av.png" alt="" class="rounded-4">
                                <div class="media-body ms-md-5 m-0 mt-4 mt-md-0 text-md-start text-center">
                                    <h4 class="mb-1 fw-light">{{UserProfile.fname}} {{UserProfile.lname}}
                                        <a href="/edit-profile/{{UserProfile.id}}" class="fa fa-pencil-square-o fs-5 ms-2" title="Edit Profile"></a>
                                        <!-- <a href="#" class="fa fa-pencil-square-o fs-6 ms-2" data-bs-toggle="offcanvas" data-bs-target="#edit_profile" title="Edit Profile"></a> -->
                                    </h4>
                                    <span class="text-muted">You have full control to manage your own account setting..</span>
                                    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-start">
                                        <div class="card py-2 px-3 me-2 mt-2">
                                            <small class="text-muted">Balance</small>
                                            <div class="fs-5">${{UserProfile.balance}}</div>
                                        </div>
                                        <div class="card py-2 px-3 me-2 mt-2">
                                            <small class="text-muted">Profit</small>
                                            <div class="fs-5">{{UserProfile.profit}}</div>
                                        </div>
                                        <!-- <div class="card py-2 px-3 me-2 mt-2">
                                            <small class="text-muted">Trade</small>
                                            <div class="fs-5">Active</div>
                                        </div> -->
                                        <div class="card py-2 px-3 me-2 mt-2">
                                            <small class="text-muted"> Status</small>
                                            <div class="fs-5 shield-danger" *ngIf="UserProfile.bot == '0' ">
                                                <i class='bx bxs-check-shield bx-sm'></i>
                                            </div>
                                            <div class="fs-5 shield-success" *ngIf="UserProfile.verification_status == '1' ">
                                                <i class='bx bxs-check-shield bx-sm'></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs tab-card border-bottom-0 pt-2 fs-6 justify-content-center justify-content-md-start" role="tablist">
                            <li class="nav-item d-flex"><a class="nav-link active d-flex" data-bs-toggle="tab" href="#profile_post" role="tab"><span>Overview</span></a></li>
                            <li class="nav-item">
                                <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile_groups" role="tab">
                                    <i class='bx bxs-lock bx-sm'></i>
                                    <span class="d-none d-sm-inline-block ms-2">Security</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content mt-5">

                        <div class="tab-pane fade show active" id="profile_post" role="tabpanel">
                            <div class="row-title mb-2">
                                <h5>Profile Overview</h5>
                            </div>
                            <div class="row g-3">
                                <div class="col-lg-6 col-md-12">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h6 class="card-title mb-3">Personal Information</h6>
                                            <p class="card-text text-muted d-flex">
                                                <i class='bx bx-error-circle text-warning bx-sm'></i> &nbsp; Upgrade your account to unlock full feature and increase your limit of transaction amount.
                                                <a class="text-info">&nbsp; Click here</a>
                                            </p>
                                            <ul class="list-unstyled mb-0">
                                                <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Full Name:</span>{{UserProfile.fname}} {{UserProfile.lname}}
                                                </li>
                                                <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">E-mail:</span><a class="__cf_email__">{{UserProfile.email}}</a></li>
                                                <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Phone:</span>{{UserProfile.phonenumber}}
                                                </li>
                                                <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Date of Birth:</span>{{UserProfile.dob}}
                                                </li>
                                                <!-- <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Address:</span>http://website.com</li> -->
                                                <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Country</span> {{UserProfile.nationality}} </li>
                                                <div *ngIf="UserProfile.verification_status == 'unverified' ">
                                                    <li class="py-2 d-flex align-items-center"><span class="text-muted me-2 w90 d-inline-block">Verification Status</span> <span class="badge badge-danger">{{UserProfile.verification_status}}</span> </li>
                                                </div>
                                                <div *ngIf="UserProfile.verification_status !== 'unverified' ">
                                                    <li class="py-2 d-flex align-items-center"><span class="text-muted me-2 w90 d-inline-block">Verification Status</span> <span class="badge badge-success">{{UserProfile.verification_status}}</span> </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="mb-1"><a href="app-project-detail.html" class="color-600">Referrals</a>
                                            </h5>
                                            <p class="text-muted">Refer Us & Earn</p>
                                            <p class="text-muted">Use the bellow link to invite your friends.</p>
                                            <ul class="list-inline d-flex my-4">
                                                <li class="list-inline-item card py-2 px-xxl-3 px-xl-2 px-3">
                                                    <h6 class="mb-0">0</h6>
                                                    <small class="text-uppercase text-muted">Total Referrals</small>
                                                </li>
                                                <li class="list-inline-item card py-2 px-xxl-3 px-xl-2 px-3">
                                                    <h6 class="mb-0">0</h6>
                                                    <small class="text-uppercase text-muted">Friends Joined</small>
                                                </li>
                                                <li class="list-inline-item card py-2 px-xxl-3 px-xl-2 px-3">
                                                    <h6 class="mb-0">$0</h6>
                                                    <small class="text-uppercase text-muted">Bonus Recieved</small>
                                                </li>
                                            </ul>
                                            <div class=" mt-2 d-flex">
                                                <input type="text " class="form-control cus-input " value="https://bull-option.com/{{UserProfile.name}}" readonly>
                                                <button class=" btn copy-btn ">
                                                    <i class='bx bx-md bx-copy-alt text-light'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile_groups" role="tabpanel">
                            <div class="row-title mb-2">
                                <h5>Security</h5>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center flex-column flex-md-row">
                                        <div class="media-body ms-0 ms-4 ms-xxl-5 text-md-start text-center w-100 mt-4 mt-md-0">
                                            <div class=" g-0 d-flex">
                                                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-6 mb-3 mb-lg-0">
                                                    <a href="/edit-profile">
                                                        <h6 class="mb-1">Change Password</h6>
                                                        <div class="text-muted">Set a unique password to protect your account.</div>
                                                    </a>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 text-center text-md-end mt-3 mt-md-0">
                                                    <button type="button" class="btn btn-sm btn-link color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Change Password"><i class='bx bx-chevrons-right bx-md'></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center flex-column flex-md-row">
                                        <div class="media-body ms-0 ms-4 ms-xxl-5 text-md-start text-center w-100 mt-4 mt-md-0">
                                            <div class=" g-0 d-flex">
                                                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-6 mb-3 mb-lg-0">
                                                    <a href="#">
                                                        <h6 class="mb-1">Save Activity Logs</h6>
                                                        <div class="text-muted">You can save your all activity logs including unusual activity detected.</div>
                                                    </a>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 text-center text-md-end mt-3 mt-md-0">
                                                    <button type="button" class="btn btn-sm btn-link color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Change Password"><i class='bx bx-chevrons-right bx-md'></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center flex-column flex-md-row">
                                        <div class="media-body ms-0 ms-4 ms-xxl-5 text-md-start text-center w-100 mt-4 mt-md-0">
                                            <div class=" g-0 d-flex align-items-end justify-content-between">
                                                <div class="col-lg-9 col-md-6">
                                                    <h6 class="mb-1">2FA Authentication</h6>
                                                    <div class="text-muted">Secure your account with 2FA security. When it is activated you will need to enter not only your password, but also a special code using app. You can receive this code by in mobile app</div>
                                                    <div class="8 text-center">
                                                        <ul class="list-unstyled mb-0 text-center text-md-start">
                                                            <li class="flex-fill card py-2 px-3 text-center">
                                                                <h6 class=" mb-1 text-danger ">Disabled</h6>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 text-center text-md-end mt-3 mt-md-0 ">
                                                    <button type="button " class="btn btn-sm btn-link color-400 " data-bs-toggle="tooltip " data-bs-placement="top " title="Change Password "><i class='bx bx-chevrons-right bx-md'></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>