img {
    filter: none
}

img:hover {
    filter: saturate(0.6);
}

.bull-logo-footer{
    width: 10em;
}

.cus-btn{
    background: none;
    border: none;
}

.cus-link{
    color: #fff !important;
}

h5{
    font-size: 15px;
}