.tab-content {
    height: 350px;
}

.h6 {
    font-variant: diagonal-fractions;
    font-size: 25px;
}

.market-cap {
    display: contents;
}

.text-light{
    color: #fff
}

.btn-success {
    background-color: #17945a;
    border: none;
    /* border-color: #39d884; */
}

.btn-success:hover {
    background-color: #116e43;
}

.card{
    padding: 0;
}

.fade-in-out {
    color: green;
    animation: fade 2s infinite;
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }