.bull-logo-light {
    width: 100px;
}

@media only screen and (max-width: 768px) {
    .bull-logo-light {
        position: relative;
        left: 0.1em;
    }
}

@media only screen and (max-width: 425px) {
    .bull-logo-light {
        position: relative;
        left: 0.1em;
    }
}

@media only screen and (max-width: 375px) {
    .bull-logo-light {
        position: relative;
        left: 0.4em;
    }
}

@media only screen and (max-width: 320px) {
    .bull-logo-light {
        position: relative;
        left: 0.1em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Nunito, sans-serif !important;
}

h6 {
    font-size: 15px;
}