.disabled-text {
    color: #cfd1e1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Nunito, sans-serif !important;
}

h6 {
    font-size: 15px;
}

.btn{
    border: none !important
}

.btn-outline-light:hover {
    color: #191a1c  !important;
    background-color: #f8f9fa  !important;
    border-color: #f8f9fa  !important;
    font-weight: bolder  !important;
}

.btn-primary:hover, .btn-primary:focus {
    /* background-color: #23c99d; */
    background-color: #373b72 !important;
}

.btn-dark:hover, .btn-dark:focus {
    background-color: #3a4564  !important;
    border-color: #1d2334 !important;
}