<div class="wrapper">

    <div class="page-body auth px-xl-4 px-sm-2 px-0 py-lg-2 py-1">
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-12 d-flex justify-content-center align-items-center">
                    <div class="card shadow-sm w-100 p-4 p-md-5" style="max-width: 32rem;">

                        <form class="row g-3">
                            <div class="col-12 text-center mb-4">
                                <img src="assets/img/auth-404.svg" class="w240 mb-4" alt="" />
                                <h1 class="display-1">404</h1>
                                <h5>OOPS! PAGE NOT FOUND</h5>
                                <span class="text-muted">Sorry, the page you're looking for doesn't exist. if you
                                    think something is br0ken, report a problem.</span>
                            </div>
                            <div class="col-12 text-center">
                                <a href="/" title="" class="btn btn-lg btn-block btn-dark lift text-uppercase">Back to Home</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>