.support-btn {
    color: #00C894;
}

.support-btn:hover {
    opacity: 0.8;
}

#theme-switch {
    outline: none;
    background: none;
    border: none;
}

.icon-success {
    color: #22b58f!important;
}

.icon-warning {
    color: #FFC107!important;
}

.icon-danger {
    color: #d71d2f!important;
}

.text-bg-success {
    color: #22b58f!important;
    background-color: #404040;
}

.withdraw-bg-success {
    color: #ada00a!important;
    background-color: #fff;
}

.withdraw-bg-info {
    color: #0793af!important;
    background-color: #fff;
}

.text-bg-warning {
    color: #FFC107!important;
    background-color: #404040;
}

.text-bg-danger {
    color: #d71d2f!important;
    background-color: #404040;
}

.icon-size {
    font-size: 25px;
}

.rounded-icon {
    background-color: #fff;
    border-radius: 20px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 15px;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Nunito, sans-serif !important;
}

h6,p{
    color: #fff;

}

h6 {
    /* font-variant: diagonal-fractions; */
    font-size: 15px !important;
}

img {
    filter: none !important
}

button:hover,
img:hover {
    filter: saturate(0.6) !important;
}

.cusor{
    cursor: pointer;
}

.btn{
    border: none !important;
}

.bull-logo-light {
    width: 100px;
}

@media only screen and (max-width: 768px) {
    .bull-logo-light {
        position: relative;
        left: 13.5em;
    }
}

@media only screen and (max-width: 428px) {
    .bull-logo-light {
        position: relative;
        left: 4.5em;
    }
}

@media only screen and (max-width: 425px) {
    .bull-logo-light {
        position: relative;
        left: 4.5em;
    }
}

@media only screen and (max-width: 375px) {
    .bull-logo-light {
        position: relative;
        left: 3.5em;
    }
}

@media only screen and (max-width: 320px) {
    .bull-logo-light {
        position: relative;
        left: 1.5em;
    }
    .cus-menu {
        margin-left: 1em;
    }
}