<!-- auth-page wrapper -->
<div class="auth-page-wrapper auth-bg-cover py-3 d-flex justify-content-center align-items-center min-vh-100">
    <div class="bg-overlay"></div>
    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4 auth-one-bg h-100">
                                    <div class="bg-overlay"></div>
                                    <div class="position-relative h-100 d-flex flex-column">
                                        <div class="mb-4">
                                            <a routerLink="/" class="d-block">
                                                <img src="../../../../assets/images/Bull-logo-light.png" alt="" class="bull-logo-light login-logo" srcset="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4">
                                    <div>
                                        <h5 class="text-primary fw-bolder">Welcome Back !</h5>
                                        <p class="text-muted fw-bolder">Sign in to continue to BullOptionFX.</p>
                                    </div>

                                    <div class="mt-4">
                                        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                                            <div class="mb-3">
                                                <label for="username" class="form-label">Email</label>
                                                <input  type="email" 
                                                        class="form-control"
                                                        email 
                                                        name="email" 
                                                        required
                                                        #name="ngModel" 
                                                        placeholder="Enter username" 
                                                        ngModel>

                                                <!-- [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" -->

                                                <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                                                    <div>Please enter email</div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <div class="float-end">
                                                    <a routerLink="/forgot-password" class="text-muted">Forgot password?</a>
                                                </div>
                                                <label class="form-label" for="password-input">Password</label>
                                                <div class="position-relative auth-pass-inputgroup mb-3">
                                                    <input  
                                                        type="password" 
                                                        class="form-control pe-5" 
                                                        name="password" 
                                                        #password="ngModel" 
                                                        required
                                                        placeholder="Enter password" 
                                                        id="password-input" 
                                                        ngModel>
                                                   <div *ngIf="password.invalid && password.touched" class="invalid-feedback mb-3">
                                                        <div>Password is required</div>
                                                    </div>
                                                   
                                                </div>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                                <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <button 
                                                    [disabled]="loginForm.invalid"
                                                    class=" btn btn-primary w-50 rounded-btn btn-lg rounded-btn" 
                                                    type="submit ">
                                                    Sign In
                                                </button>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="mt-3 text-center ">
                                        <p class="mb-0 fw-bolder text-primary">Don't have an account ? <a routerLink="/register" class="fw-semibold link-text ">  Signup</a> </p>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <app-auth-footer></app-auth-footer>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->
</div>


<!-- end auth-page-wrapper -->