.form-control {
    font-weight: 500;
    color: #212529 !important;
    background-color: #E7EFFD! important;
}

img {
    filter: none
}

a:hover {
    color: #d3a94f;
}

button:hover,
img:hover {
    filter: saturate(0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Nunito, sans-serif !important;
    font-size: 15px !important;
}