/* You can add global styles to this file, and also import other style files */


/* @import url('./assets/vendors/bundle.css');
@import url('./assets/vendors/datepicker/daterangepicker.css');
@import url('./assets/vendors/slick/slick.css');
@import url('./assets/vendors/slick/slick-theme.css');
@import url('./assets/vendors/vmap/jqvmap.min.css');
@import url('./assets/css/app.min.css'); */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif !important;
}