<app-header></app-header>

<div class="wrapper">

    <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
        <div class="container-fluid">
            <div class="row g-3 mb-3 align-items-center">
                <div class="col">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a class="text-secondary" routerLink="/dashboard">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a class="text-secondary" href="crafted-page.html">Crafted pages</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">History</li>
                    </ol>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, {{UserProfile.fname}}</h1>
                    <!-- <small class="text-muted">You have 12 new messages and 7 new notifications.</small> -->
                </div>
            </div>
        </div>
    </div>

    <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-md-12 table-responsive">
                    <table id="myDataTable" class="myDataTable table align-middle table-bordered mb-0 custom-table">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-center">Date</th>
                                <th class="text-uppercase text-center">Status</th>
                                <th class="text-uppercase text-center">Purpose</th>
                                <th class="text-uppercase text-center">Amount</th>
                                <th class="text-uppercase text-center">Currency Withdrawn</th>
                                <th class="text-uppercase text-center">Wallet Address</th>
                                <th class="text-uppercase text-center">Payment Option</th>
                                <th class="text-uppercase text-center">Deposit Date</th>
                                <th class="text-uppercase text-center">Withdrawal Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of history">
                                <!-- <td>{{serial}}</td> -->
                                <td>{{data.entry_date}}</td>
                                <td>
                                    <span class="badge text-bg-warning" *ngIf="data.status === 'pending' ">
                                        {{data.status}}
                                    </span>
                                    <span class="badge text-bg-danger" *ngIf="data.status === 'failed' ">
                                        {{data.status}}
                                    </span>
                                    <span class="badge text-bg-success" *ngIf="data.status === 'approved' ">
                                        {{data.status}}
                                    </span>
                                </td>
                                <td>
                                    <span class="badge withdraw-bg-success" *ngIf="data.purpose === 'withdrawal' ">
                                        {{data.purpose}}
                                    </span>
                                    <span class="badge withdraw-bg-info" *ngIf="data.purpose === 'deposit' ">
                                        {{data.purpose}}
                                    </span>
                                </td>
                                <td>{{data.amount}}</td>
                                <td>{{data.currency_withdrawn}}</td>
                                <td>{{data.wallet_address}}</td>
                                <td>{{data.payment_option}}</td>
                                <td>{{data.entry_date}}</td>
                                <td>{{data.withdraw_date}}</td>
                                <!-- <td>{{data.}}</td> -->
                                <!-- <td>None</td> -->
                                <!-- <td><span class="badge bg-success">COMPLETED</span></td> -->
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>